body {background-color:black;
    padding: 2% 5%;
}
div {
    position: absolute;
    top: 10px; left: 100px;
    background: white;
    border-top-left-radius: 30px ;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 470px;
    height: 265px;
    padding: 1% 5%;
    box-sizing: content-box;
    font-family: Arial;
    color: black;
  }
h1{color:gray; font-size: 1cm; font-family: Arial; font-weight: bold;}


